

.card{
    background-color: #242424;
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px 10px;
}

.card-right{

    img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    a{
        background-color: #2d2d2d;
        margin-top: 20px;
        text-decoration: none;
        border-radius: 10px;

        .skew{
            transform: skew(-20deg);
            background-color: #1a1a1a;
            width: 25px;
            position: relative;
            left: 6%;
            transition: all 0.5s;
        }
        .trailer-icon{
            background-color: #1a1a1a;
            width: 30%;
            text-align: center;
            padding: 16px 0px;
            color: #eb8307;
            transition: all 0.5s;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }

        .trailer-title{
            display: flex;
            align-items: center;
            color: white;
            font-size: 14px;
            margin-right: 10px;
            transition: all 0.5s;
        }
    }

    a:hover{
        .trailer-title{
            color: #eb8307;
        }

        .skew , .trailer-icon{
            background-color: #eb8307;
            color: white;
        }

        
    }

}

@media (max-width:1020px){
    .card-right{
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0px;
            .trailer-icon , .skew{
                display: none;
            }

            .trailer-title{
                margin: 0px;
            }
        }
    }
}

.card-left{
    margin: 10px;
    
    .name-score{
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 20px;

        .title{
            text-decoration: none;
            color: white;
            font-size: 18px;
        }

        .heart-score{
            display: flex;
            align-items: center;
            position: absolute;
            left: 0%;
            .heart{
                margin-left: 20px;
                .icon{
                    color: white;
                    border: 1px solid #3c3c3c;
                    border-radius: 50%;
                    padding: 8px;
                    width: 18px;
                    height: 18px;
                }
            }

            .score{
                display: flex;
                flex-direction: column;
                align-items: center;

                .number{
                    color: #eb8307;
                    font-size: 22px;
                    font-weight: bold;
                }

                .votes{
                    color: white;
                    font-size: 14px;
                    border-top: 1px solid #3c3c3c;
                    padding-top: 5px;
                }

                .imdb{
                    background-color: #eb8307;
                    color: white;
                    border-radius: 5px;
                    font-size: 17px;
                    text-align: center;
                    font-weight: bolder;
                    height: 20px;
                    width: 55px;
                }
            }
        }
    }

    ul{
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 30px;
        li{
            margin-top: 15px;
            .icon{
                color: #eb8307;
            }

            span{
                color: white;
                font-size: 14px;
                margin-right: 5px;
            }

            .score{
                background-color: #6c3;
                margin: 0px;
                padding: 5px 8px;
                border-radius: 5px;
            }
        }
    }

    p{
        color: white;
        font-size: 13px;
        margin-top: 20px;
    }

    .bluray{
        background-color: #1d1d1d;
        display: inline-block;
        padding: 1px 5px;
        border-radius: 5px;

        span{
            color: white;
            font-size: 12px;
        }

        span::before{
            content: "❗️";
            margin-left: 3px;
        }
    }
}

.download{
    text-decoration: none;
    position: absolute;
    left: 5%;
    top: 88%;
    .title{
        color: white;
        font-size: 14px;
        margin-bottom: 10px;

        span{
            color: #eb8307;
        }
    }

    .bg-icon{
        background-color: #050505;
        transform: rotate(316deg);
        height: 80px;
        width: 80px;
        padding: 10px;
        border-radius: 20px;
        

        div{
            background-color: #eb8307;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            width: 30px;
            height: 30px;
            // transform: rotate(150deg);

            .icon{
                color: white;
                transform: rotate(405deg);
            }
        }
    }
}

.subtitle{
    position: absolute;
    right: 97%;
    top: 30%;
    background-color: #8bc34a;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transform: rotate(226deg);
    display: flex;
    align-items: center;
    justify-content: center;
     .icon{
        color: white;
        transform: rotate(136deg);
        width: 20px;
        height: 20px;
     }
}

.subtitle:hover{
    box-shadow: 0px 0px 13px 0px rgba(34, 139, 34, .7);
}

@media (max-width:768px){
    .download{
        left: 20%;
        top: 95%;
    }

    .subtitle{
        display: none;
    }
}

@media (max-width:880px){
    .update-series{
        display: none;
    }
}

.series{
    background-color: #242424;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    .title{
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            color: #eb8307;
            width: 30px;
            height: 30px;
            margin-left: 15px;
        }

        .span-t{
            font-size: 14px;
        }

        .span-b{
            font-size: 13px;
            margin-top: 3px;
        }
    }
}

.first-series{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #1a1a1a;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;

    a{
        text-decoration: none;

        img{
            width: 100%;
            margin-bottom: 5px;
        }

        span{
            color: white;
            font-size: 13px;

            span{
                background-color: #eb8307;
                border-radius: 50%;
                padding: 0px 5px;
            }
        }
    }
}

.film-title{
    color: white;
    font-size: 13px;
}

.film-e{
    background-color: #eb8307;
    border-radius: 50%;
    padding: 0px 5px;
}

.series-little{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: #1a1a1a;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 5px;


    a{
        text-decoration: none;
        img{
            width: 100%;
            margin-bottom: 5px;
        }
    }
}

.film-double{
    background-color: #242424;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;

    .title{
        display: flex;
        align-items: center;
        justify-content: center;

        .icon{
            color: #eb8307;
            width: 30px;
            height: 30px;
            margin-left: 15px;
        }

        .span-t{
            font-size: 14px;
        }

        .span-b{
            font-size: 13px;
            margin-top: 3px;
        }
    }
}

.slider-film{
    text-align: center;
    .swiper {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
    color: #3c3c3c;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 10px;
        .name{
            color: white;
        }

        .score{
            color: #eb8307;
            font-size: 20px;

            span{
                color: white;
                font-size: 16px;
                font-weight: normal;
            }
        }
    }
}