.footer{
    background-color: #242424;
    margin-top: 60px;
}

.footer-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    .swiper {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
    color: black;
    }

    .swiper-slide img {
        display: block;
        width: 370px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }

    @media (max-width:995px){
        .swiper-slide img{
            height: 100%;
            width: 100%;
        }
    }

}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    .item{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;

        a{
            text-decoration: none;
            color: white;
            font-size: 13px;
            margin-top: 10px;
        }

        a:hover{
        color: #eb8307;
        }
    }
}

.virtul-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    a{
        background-color: #151515;
        border-radius: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: 11vh;


        .icon{
            width: 30px;
            height: 30px;
            color: #eb8307;
        }

        .title{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            font-size: 14px;

            .fa{
                color: white;
            }

            .en{
                color: #eb8307;
            }
        }
    }
}