


.nav-top{
    a{
        background-color: #252525;
        border-radius: 19px;
        color: #fff;
        text-decoration: none;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    a:hover{
        background-color: #eb8307;
    }
}